<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My First Backend</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Wellcome to my first backend application</h1>

    <button onclick="window.location.href='/users/signUp'">Sign Up</button>
    <button onclick="window.location.href='/users/signIn'">Sign In</button>
  </body>
</html>
