* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 40%;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.submit {
  width: 6rem;
  padding: 0.5rem 1rem;
  margin-left: auto;
}

.homepage-title {
  margin: 5rem 0;
  text-align: center;
}

.buttons {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.7rem 2rem;
}
