* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(241, 246, 249);
  color: rgb(57, 72, 103);
}

.header {
  width: 100%;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 42, 62);
  position: relative;
  height: 6rem;
  overflow: hidden;
}

.circle {
  width: 14rem;
  height: 16rem;
  background-color: rgb(155, 164, 181);
  border-radius: 50%;
  border: 10px solid rgb(241, 246, 249);
  position: relative;
  left: -100px;
  bottom: 60px;
}

.btn-header {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12pt;
  font-weight: 700;
  background-color: white;
  color: rgb(57, 72, 103);
}

.btn-header:hover {
  color: rgb(155, 164, 181);
  cursor: pointer;
}

.content,
.form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.content {
  align-items: center;
}

.main-content {
  gap: 15rem;
}

.homepage-title {
  text-align: start;
  color: rgb(57, 72, 103);
  font-size: 10pt;
  font-weight: 700;
  position: relative;
  bottom: -162px;
  left: 75px;
}

.homepage-text {
  text-align: center;

  font-size: 22pt;
  line-height: 2;
}

.buttons {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 0.7rem 2rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12pt;
  font-weight: 700;
  background-color: white;
  color: rgb(57, 72, 103);
  box-shadow: 0 2px 5px 1px;
}

.btn:hover {
  color: rgb(155, 164, 181);
  cursor: pointer;
}

.footer {
  height: 6rem;
  background-color: rgb(33, 42, 62);
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: fixed;
  width: 60rem;
  height: 1rem;
  z-index: -1;

  background: linear-gradient(
    45deg,
    rgba(155, 164, 181, 0) 20%,
    rgb(255, 255, 255) 50%,
    rgba(155, 164, 181, 0) 70%
  );
  background-size: 200% 200%;
  background-repeat: no-repeat;
  animation: moveGradient 3.5s linear infinite alternate;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.line:nth-child(1) {
  bottom: 20rem;
  right: -25rem;
}

.line:nth-child(2) {
  bottom: 20rem;
  right: -20rem;
}

.line:nth-child(3) {
  bottom: 20rem;
  right: -15rem;
}

.footer-text {
  color: rgb(155, 164, 181);
  font-size: 10pt;
}

/* authForm.ejs */

.form {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

.btn-auth {
  margin-top: 2rem;
}

.error-msg {
  color: red;
}

/* posts.ejs */

.posts-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 3rem;
  margin: 3rem 0;
}

.ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.li-item {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgb(77, 77, 77);
}

.title-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.update-delete-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 0.5rem;
}

.update-delete {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btns {
  width: 5rem;
  padding: 0.2rem;
  color: rgb(57, 72, 103);
  box-shadow: 0 2px 5px 0;
}

.title-post {
  margin-top: -0.5rem;
  font-size: 16pt;
  color: rgb(57, 72, 103);
}

.description {
  font-size: 12pt;
  color: rgb(155, 164, 181);
}

.time {
  opacity: 0.5;
  font-size: 10pt;
}

/* postsForm */

.textarea {
  height: 200px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.save-btn {
}
